.about-us {
  @extend .d-flex, .justify-content-md-between, .flex-column, .flex-md-row;
  width: 97.5%;
  line-height: 1.25;
  margin: auto;

  &__text {
    @extend .d-inline-flex, .flex-column;
    width: 56.8%;
    color: #665f60;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    padding-top: 71px;

    & > p:nth-of-type(2) {
      letter-spacing: -0.1px;
      line-height: 1.2;
      margin-top: 5px;
      width: 97%;
    }

    & > a {
      @extend .align-self-center, .font-italic, .d-block, .text-center;
      border: 1px solid #7d7a7c;
      color: #7d7a7c;
      font-family: "PT Sans", sans-serif;
      font-size: 1.25rem;
      margin-top: 77px;
      margin-left: -26px;
      width: 29.4%;
      padding-top: 12px;
      padding-bottom: 11px;
    }
  }

  & > img {
    @extend .d-none, .d-md-inline-flex;
  }
}

@media screen and (max-width: 768px) {
  .about-us {
    padding-right: 16px;
    padding-left: 16px;
  }

  .about-us__text {
    padding-top: 10px;
    width: 100%;

    & > a {
      margin-top: 0;
      width: 35.4%;
    }
  }
}
