footer {
  @extend .d-flex, .justify-content-between, .flex-column, .flex-md-row;
  background-color: #9f9acf;
  padding-left: 52px;
  padding-top: 77px;
  padding-bottom: 82px;

  & > span {
    @extend .text-white;
    font-family: "PT Sans", sans-serif;
    font-size: 1.125rem;
    letter-spacing: 0.36px;
  }

  & > div {
    @extend .d-inline-flex, .justify-content-between;
    width: 26%;
  }
}

@media screen and (max-width: 768px) {
  footer > div {
    width: 83%;
  }
}
