.header {
  @extend .position-relative;
  background-image: url("/digitalproducts/dist/assets/img/header-bg-overlay.png");
  background-position: center;
  background-size: 133% 100%;

  &::after {
    @extend .d-block, .position-absolute;
    content: "";
    background-color: #9f9acf;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
  }

  &__navbar {
    @extend .navbar, .navbar-expand-md, .navbar-light, .w-100, .fixed-top;
    margin: auto;
    padding-left: 45px;
    background-color: #9f9acf;
    opacity: 0.9;
    z-index: 6;

    &-wrapper {
      @extend .collapse, .navbar-collapse
    }
  }

  &__brand {
    @extend .d-inline, .navbar-brand, .navbar-light;
  }

  &__nav {
    @extend .navbar-nav, .justify-content-md-center, .justify-content-lg-between;
    margin-top: -6px;

    &-wrapper {
      /*@extend .collapse, .navbar-collapse;*/
      /*width: 51.5%;*/
    }
  }

  &__item {
    @extend .nav-item;
    width: 20%;
  }

  &__link {
    @extend .nav-link, .text-white, .text-uppercase;
    font-family: ProximaNova, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  &__content {
    @extend .d-flex, .flex-column, .align-items-center;
  }

  &__title {
    @extend .text-uppercase, .font-weight-bold;
    color: #fefefb;
    font-family: ProximaNova, sans-serif;
    font-size: 4.5rem;
    letter-spacing: -0.5px;
    line-height: 72px;
    z-index: 5;
  }

  &__description {
    @extend .font-italic, .text-center;
    color: #fefdfd;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.875rem;
    width: 50%;
    z-index: 5;
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__navbar {
      padding-left: 16px;
      width: 100%;
    }

    &__content {
      padding-top: 80px;
      padding-right: 16px;
      padding-left: 16px;
    }

    &__nav-wrapper {
      width: 100%;
    }

    &__nav {
      align-items: center;
      padding: 16px;
      flex-wrap: wrap;
    }

    &__item {
      text-align: center;
      width: 32%;
    }

    &__link {
      font-size: 0.875rem;
    }

    &__description {
      width: 100%;
    }

    &__title {
      font-size: 1.375rem;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__nav {
      width: 70%;

      &-wrapper {
        justify-content: flex-end;
      }
    }

    &__navbar {
      padding-top: 30px;
    }

    &__content {
      padding-top: 399px;
      padding-bottom: 485px;
    }

    &__item {
      width: 20%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .header {
    &__content {
      padding: 130px 16px 35px;
    }

    &__nav {
      width: 100%;
    }
  }
}
