.services {
  @extend .d-flex, .flex-column, .flex-md-row, .col-12;
  margin: 121px auto auto;

  &__popular {
    @extend .d-flex, .flex-column, .flex-md-row, .p-0;
    flex-wrap: wrap;
  }

  &__all {
    @extend .align-items-center, .d-flex, .flex-column;
    background-image: url("/digitalproducts/dist/assets/img/all-services.png");
    background-size: 100% 100%;
    padding-top: 115px;
    position: relative;
    width: 100%;

    &::after {
      @extend .d-block;
      @include overlay(#9f9acf, 0.5)
    }

    & > img {
      z-index: 5;
    }
  }

  &__item {
    @extend .align-items-center, .flex-md-column, .d-inline-flex, .flex-column, .flex-md-row, .col-md-6;
    padding-top: 98px;
    padding-bottom: 97px;

    & > img {
      width: 12%;
      height: auto;
    }

    &:nth-child(2) {
      padding-left: 1px;

      & > img {
        width: 15.3%;
      }

      & > .services__title {
        margin-top: 26px;
      }
    }

    &:nth-child(1), &:nth-child(4) {
      background-color: #dbdbdb;
    }

    &:nth-child(3) {
      padding-top: 88px;
    }

    &:nth-child(4) {
      padding-top: 84px;
      padding-bottom: 129px;

      & > img {
        width: 9.5%;
      }
    }
  }

  &__title {
    @extend .text-uppercase, .font-weight-bold, .text-center;
    color: #665f60;
    font-family: "PT Sans", sans-serif;
    margin-top: 28px;
    font-size: rem(24);

    &--all {
      @extend .text-uppercase;
      color: #fefcfd;
      font-family: ProximaNova, sans-serif;
      font-size: rem(36);
      margin-top: 27px;
      margin-bottom: 104px;
      z-index: 5;
    }
  }

  &__description {
    @extend .font-italic, .text-center;
    color: #665f60;
    font-family: "PT Sans", sans-serif;
    font-size: rem(18);
    line-height: 1.3;
    width: 53%;

    &--all {
      @extend .font-italic;
      color: #fefcfd;
      font-family: "PT Sans", sans-serif;
      font-size: rem(18);
      width: 86%;
      z-index: 5;
    }
  }
}

@media screen and (min-width: 768px) {
  .services {
    padding-left: 17px;

    &__popular {
      width: 66.5%;
    }

    &__all {
      width: 36%;
    }
  }
}

@media screen and (max-width: 767px) {
  .services {
    margin-top: 16px;
    margin-bottom: 5px;

    &__item, &__item:nth-child(3), &__item:nth-child(4), &__all {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &__item:nth-child(3) {
      background-color: #dbdbdb;
    }

    &__item:nth-child(4) {
      background-color: #ebebeb;
    }

    &__title--all {
      margin-bottom: 0;
    }
  }
}
