.team {
  padding-top: 54px;
  padding-bottom: 98px;
  text-align: center;

  &__title {
    @extend .text-uppercase;
    color: #665f60;
    font-family: ProximaNova;
    font-size: 36px;
    margin-top: 28px;
    margin-bottom: 59px;
  }

  &__slider {
    margin: auto;
    width: 92.5%;
  }

  &__slide {
    background-color: white;
    text-align: center;

    & > img {
      height: auto;
      margin: auto;
      margin-bottom: 49px;
      width: 67%;
    }

    & > h3 {
      color: #9f9acf;
      font-family: ProximaNova;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 19px;
      text-transform: uppercase;
    }

    & > p {
      color: #665f60;
      font-family: "PT Sans";
      font-size: 24px;
      font-style: italic;
      margin-bottom: 42px;
    }

    & > div {
      background-color: #9f9acf;
      padding-top: 23px;
      padding-bottom: 23px;

      & > div {
        display: flex;
        width: 48%;
        margin: auto;
        justify-content: space-between;
      }
    }
  }

  &__icon {
    background-color: #ebebeb;
    border-radius: 50%;
    color: #9f9acf;
    display: inline-block;

    &--bh {
      padding-right: 5px;
      padding-left: 5px;
    }

    &--ln {
      padding-right: 9px;
      padding-left: 9px;
    }

    &--gp {
      padding-right: 5px;
      padding-left: 5px;
    }

    &--fb {
      padding-right: 11px;
      padding-left: 11px;
    }

    &--tw {
      padding-right: 8px;
      padding-left: 8px;
    }
  }

  & .slick-slide {
    margin: 0 16px;
  }

  /* the parent */
  & .slick-list {
    margin: 0 -16px;
  }
}
