.team {
  @extend .text-center;
  padding-top: 54px;
  padding-bottom: 98px;

  &__title {
    @extend .text-uppercase;
    color: #665f60;
    font-family: ProximaNova, sans-serif;
    font-size: rem(36);
    margin-top: 28px;
    margin-bottom: 65px;
  }

  &__slider {
    margin: auto;
    width: 90%;
  }

  &__slide {
    @extend .text-center, .bg-white;

    & > img {
      height: auto;
      margin: auto auto 49px;
      width: 67%;
    }

    & > h3 {
      @extend .font-weight-bold, .text-uppercase;
      color: #9f9acf;
      font-family: ProximaNova, sans-serif;
      font-size: rem(24);
      margin-bottom: 19px;
    }

    & > p {
      @extend .font-italic;
      color: #665f60;
      font-family: "PT Sans", sans-serif;
      font-size: rem(24);
      margin-bottom: 42px;
    }

    & > div {
      background-color: #9f9acf;
      padding-top: 20px;
      padding-bottom: 20px;

      & > div {
        @extend .d-flex, .justify-content-between;
        width: 48%;
        margin: auto;
      }
    }
  }

  &__icon {
    @extend .d-inline-block, .text-center;
    background-color: #ebebeb;
    border-radius: 50%;
    height: 30px;
    width: 30px;

    & > i {
      @extend .align-middle;
      color: #9f9acf;
    }
  }

  & .slick-slide {
    margin: 0 15px;
  }

  & .slick-list {
    margin: 0 -15px;
  }

  & .slick-prev, & .slick-next {
    top: -13px;

    &::before {
      color: #665f60;
    }
  }

  & .slick-next {
    right: 0;
  }

  & .slick-prev {
    left: 0;
  }
}
