.team {
  @extend .text-center;
  padding-top: 54px;
  padding-bottom: 98px;

  @include respond-to(smallScreen) {
    padding-bottom: 40px;
  }

  &__title {
    @extend .text-uppercase;
    color: #665f60;
    font-family: ProximaNova, sans-serif;
    font-size: rem(36);
    margin-top: 28px;
    margin-bottom: 59px;
  }

  &__slider {
    margin: auto;
    width: 90%;
    @include respond-to(smallScreen) {
      width: 75%;
    }
  }

  &__slide {
    @extend .text-center, .bg-white, .position-relative;
    padding: 158px 0 0;
    margin-top: 121px;
    @include respond-to(smallScreen) {
      padding: 80px 0 0;
    }

    & > img {
      border: 10px solid #ebebeb;
      border-radius: 50%;
      height: 253px;
      margin: auto auto 49px;
      position: absolute;
      top: -131px;
      right: 0;
      left: 0;
      width: 253px;
      @include respond-to(smallScreen) {
        width: 200px;
        height: 200px;
      }
    }

    & > h3 {
      @extend .font-weight-bold, .text-uppercase;
      color: #9f9acf;
      font-family: ProximaNova, sans-serif;
      font-size: rem(24);
      margin-bottom: 19px;
    }

    & > p {
      @extend .font-italic;
      color: #665f60;
      font-family: "PT Sans", sans-serif;
      font-size: rem(24);
      margin-bottom: 42px;
    }

    & > div {
      background-color: #9f9acf;
      padding-top: 20px;
      padding-bottom: 20px;

      & > div {
        @extend .d-flex, .justify-content-between;
        width: 48%;
        margin: auto;
        @include respond-to(smallScreen) {
          width: 80%;
        }
      }
    }
  }

  &__icon {
    @extend .d-inline-block, .text-center;
    background-color: #ebebeb;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;

    & > i {
      color: #9f9acf;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  & .slick-slide {
    margin: 0 15px;
  }

  & .slick-list {
    margin: 0 -15px;
  }

  & .slick-prev::before, & .slick-next::before {
    color: #665f60;
    font-family: FontAwesome;
    font-size: 50px;
  }

  & .slick-prev {
    left: -37px;

    &::before {
      content: '\f104';
    }
  }

  & .slick-next {
    right: -37px;

    &::before {
      content: '\f105';
    }
  }
}

.team .dots {
  li button::before, .slick-active button::before {
    color: #9f9acf;
  }
}
