.works {
  background-image: url("/digitalproducts/dist/assets/img/works-bg.png");
  padding-top: 49px;
  padding-bottom: 61px;

  & > img {
    @extend .d-block;
    margin: auto;
  }

  &__title {
    @extend .text-uppercase, .font-weight-normal, .col-sm-3, .text-center;
    color: #fefcfd;
    font-family: ProximaNova, sans-serif;
    font-size: rem(36);
    margin: 30px auto auto;
  }

  &__slider {
    margin: 57px auto 76px;
    width: 61%;
  }

  &__link {
    @extend .text-white, .font-italic, .d-block, .text-center;
    border: 1px solid white;
    font-family: "PT Sans", sans-serif;
    font-size: rem(20);
    margin: 103px auto auto;
    padding-top: 7px;
    padding-bottom: 11px;
    width: 16.2%;
  }
}

.slick-dots {
  @extend .position-relative;
  top: 35px;
  bottom: 0;
  margin: auto;
  width: 11%;

  & li {
    margin: 0;

    & button::before {
      font-size: rem(35);
      width: 20px;
    }
  }
}

.dots {
  position: absolute;
  bottom: -57px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    position: relative;
    display: inline-block;
    height: 17px;
    width: 17px;
    padding: 0;
    cursor: pointer;
    button {
      border: 0;
      background: transparent;
      display: block;
      height: 17px;
      width: 17px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      &:hover, &:focus {
        outline: none;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '\f10c';
        width: 17px;
        height: 17px;
        font-family: FontAwesome;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        color: white;
        opacity: 0.7;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    &.slick-active button:before {
      content: '\f111';
      color: white;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .works {
    padding-top: 5px;
    padding-bottom: 5px;

    &__title {
      margin-bottom: 8px;
    }

    &__slider, &__link {
      margin-top: 70px;
    }

    &__link {
      width: 33%;
    }
  }

  .dots {
    bottom: -45px;
  }
}
